body {
    padding-top: 20px;
    padding-bottom: 40px;
    overflow-y: scroll;
    
    font-family: "proxima-nova", arial, sans-serif;
}

p {
    line-height: 1.5em;
}

h1, h2, h3, h4 {
    font-family: "brandon-grotesque", arial, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2.1em;
}

.jumbotron {
    text-align: center;
}

.jumbotron h1 {
    margin: 40px 0;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.consultancy {
    margin: 20px 0;
}

.javascript-logos {
    padding: 25px;
}

.javascript-logos .row-fluid .span3 {
    padding: 10px;
}

@media(max-width:767px) {    
    .javascript-logos {
        padding: 15px;
    }

    .javascript-logos .row-fluid .span3 {
        padding: 5px;
        float: left;
        width: 50%;
    }
}

.consultancy p + h4 {
    margin-top: 28px;
}

.logo-box {
    min-height: 100px;
    margin-bottom: 10px;
}

.logo-column {
    min-width: 30px;
}

.text-column {
    min-width: 75px;
}

.address {
    padding-top: 20px;
}

.address span {
    display: block;
}

.company-name {
    font-weight: bold;
}

.footer {
    font-size: 10px;
}