body {
    padding-top: 20px;
    padding-bottom: 40px;
    overflow-y: scroll;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.consultancy {
    margin: 60px 0;
}

.javascript-logos {
    margin: 20px 0;
}

.consultancy p + h4 {
    margin-top: 28px;
}

.logo-box {
    min-height: 100px;
}

.logo-column {
    min-width: 30px;
}

.text-column {
    min-width: 75px;
}

.address {
    padding-top: 20px;
}

.address span {
    display: block;
}

.company-name {
    font-weight: bold;
}